@import 'tailwindcss';

:root {
  background-color: #0a0a0a;
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  font-family: system-ui, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}
